GEMINI_API_KEY=AIzaSyDHRZBTQpKJ4eamGPXT3XIU1w1Moqw9wO0
# API URL - Descomenta la que necesites:
# Para dispositivos físicos en la misma red Wi-Fi (usa tu IP local):
# API_URL=http://192.168.x.x:3000/api
# Para Chrome (Web) usa esta:
# API_URL=http://localhost:3000/api
# Para Android Studio Emulator usa esta:
# API_URL=http://10.0.2.2:3000/api

GOOGLE_MAPS_KEY=your_google_maps_key_here